<% if product = line_item.product %>
<% item_total = product.price * line_item.quantity.to_i %>

<tr>
  <td>
    <h4><%= product.name %></h4>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%= line_item.quantity.to_i %>
  </td>
  <td>
    <%= humanized_money_with_symbol item_total %>
  </td>
</tr>
<% end %>
