<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1> Thank you for your order </h1>
    <h2> Your Order id: <%= @order.id %></h2>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render collection: @line_items, partial: "user_mailer/line_item" %>
      </tbody>
      <tfoot>
        <tr>
          <th>
            TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol @order.total %>
          </th>
        </tr>
      </tfoot>
    </table>
    <p>Have a great day!</p>
  </body>
</html>
